@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #0F4C81;
    ;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

a i {
    color: #0F4C81;

}

.nav-bar ul {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    list-style: none;
    height: 25%;
    width: 100%;
}

.nav-bar a {
    font-weight: normal;
    color: #17252a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-right: 2px solid #0F4C81;
    border-bottom: 2px solid #0F4C81;
    border-radius: 5px;
}

.nav-bar a:hover, .nav-bar a:hover i {
    background-color: #0F4C81;
    color: #F9F9F9;

}

.inhoud {
    margin-left: 20%;
}


#Home {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-tekst {
    display: flex;
    flex-direction: row;
}

.home-img img {
    height: 600px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.home-tekst h1 {
    text-align: left;
    margin: 0;
}



.home-tekst h2 {
    text-align: left;
}



.home-tekst {
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}


/* home tekst links */
.links {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    cursor: pointer;
    margin: 2px;

}

/* home tekst download buttonL */
.downloadbutton {
    padding: 7px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: #0F4C81;
    color: #F9F9F9;
}


#Over-mij {
    margin: 20px;
    padding: 10px;
    text-align: left;
}

#Over-mij h1 {
    text-align: center;
}

.Reviews {
    display: flex;
    justify-content: center;
}

#Over-mij img {
    margin-top: 10px;
    border-radius: 10px;
}

#Projecten {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projecten-inhoud {
    display: flex;
}

iframe {
    border-radius: 10px;
    height: 500px;
    width: 500px;
}

#Contact {
    margin: 10px;
    padding: 10px;

}

.contact-icons {
    display: flex;
    justify-content: space-between;
}

p i {
    width: 50px;
    /* margin-right: 10px; */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type=text], input[type=email] {
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;


}

textarea {
    border-radius: 10px;
    margin-bottom: 10px;

}


input[type=submit] {
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    color: #F9F9F9;
    background-color: #0F4C81;
}

.contact-icons i {
    width: 40px;
}

.contact-icons a {
    margin: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 1410px) {

    /* .nav-bar ul {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .inhoud {
        margin: 0;
    }

    #Home {
        margin: 0;
    } */
    #Home {
        margin: 0;
        padding: 0;
    }

    .home-img img {
        height: 500px;
        width: 300px;
        margin: 5px;

    }

    .links a {
        margin-top: 0;
    }

    iframe {
        height: 420px;
        width: 420px;
    }
}

@media only screen and (max-width: 1150px) {

    .home-img img {
        width: 240px;
        height: 400px;
        margin: 5px;
    }

    .projecten-inhoud {
        flex-direction: column;
        text-align: center;
    }

    iframe {
        height: 500px;
        width: 500px;
    }


}

@media only screen and (max-width: 1000px) {

    .home-img img {
        width: 150px;
        height: 300px;
        margin: 5px;
    }

    .contact-icons {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact-icons a {
        margin: 10px 0 10px 0;
        text-decoration: none;
    }

    .contact-icons i {
        width: 40px;
    }


}

@media only screen and (max-width: 770px) {


    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .inhoud {
        margin: 0;
        text-align: center;
    }

    .nav-bar ul {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-bar ul a{
        border: none;
    }
    iframe {
        height: 400px;
        width: 400px;

    }

    #Home {
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    .home-img img {
        width: 90%;
        height: 100%;
        margin-left: 35px;
    }

}