@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #0F4C81;
    ;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

a i {
    color: #0F4C81;
}

/* nav-bar  */
.nav-bar {
    position: fixed;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
}

.nav-bar ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* one nav link or button */
.nav-bar li {
    list-style: none;
    height: 25%;
    width: 100%;
}

/* one nav link or button */
.nav-bar a {
    font-weight: normal;
    color: #0F4C81;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-right: 2px solid #0F4C81;
    border-bottom: 2px solid #0F4C81;
    border-radius: 10px;
}

/* nav link or button on hover */
.nav-bar a:hover, .nav-bar a:hover i {
    background-color: #E5E5E5;
    color: #0F4C81;
}

/* nav bar link or button while active */
.active a, .active i {
    background-color: #0F4C81;
    color: #F9F9F9;

}

/* nav bar link or button hover effect while active */
.active a:hover, .active a:hover i {
    color: #F9F9F9;
    background-color: #0F4C81;
}

/* website content */
.content {
    margin-left: 20%;
}

/* home section */
#home {
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* home section text */
.home-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    height: 620px;
    width: 33%;
    padding: 10px;
    border-radius: 10px;
    background-color: #0F4C81;
    color: #F9F9F9;

}

/* set the color of the first link in home text */
.home-text i, .home-text a:first-of-type {
    color: #F9F9F9;
}

/* align h1&2 left */
.home-text h1, .home-text h2 {
    text-align: left;
}

/* home text links (linkedin, cv en contact button) */
.links {
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
}

.links a {
    margin: 7px;
}

/* home text download (cv) button */
.downloadbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 47px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: #F9F9F9;
    color: #0F4C81;
}

/* home section images */
.home-img {
    margin: 5px;
    width: 33%;
}

.home-img img {

    height: 620px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}


/* about me section */
#about-me {
    padding: 20px 20px;
}

/* about me images (reviews screenshots) */
.reviews {
    display: flex;
    justify-content: center;
}

#about-me img {
    margin-top: 10px;
    border-radius: 10px;
}

/* projects section */
#projects {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects-content {
    display: flex;
    flex-direction: column;

}

/* first two project display in row */
.projects-row {
    display: flex;
}

/* every single project */
.project {
    width: 100%;
    margin: 5px;
    display: inherit;
    flex-direction: column;
}

/* title & description of the project */
.project-text {
    height: 215px;
    padding: 10px;
    width: 100%;
}

/* iframe of project 1 &2 */
iframe {
    border-radius: 10px;
    height: 500px;
    width: 460px;
}

/* display of a clip of project 3 */
.div-video {
    margin-top: 40px;
    width: 100%;
    display: flex;

}

/* title & description of the project */
.video-text {
    margin: 5px;
    height: 500px;
    width: 100%;

}

.video-text div {
    height: 500px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #0F4C81;
    border-radius: 10px;

}


/* the clip */
.video-contenair {
    margin: 5px;
    width: 100%;
}

video {
    height: 500px;
    width: 460px;
    border-radius: 10px;
    background-color: #0F4C81;
}


/* contact section  */
#contact {
    margin: 10px;
    padding: 20px;
}

/* display of the form */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type=text], input[type=email], input[type=number] {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 10px;
    margin-bottom: 10px;

}


input[type=submit] {
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    color: #F9F9F9;
    background-color: #0F4C81;
}

input[type=submit]:active {
    background-color: #5cb85c;
}

/* footer section */
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

#footer a {
    text-decoration: none;
    color: #0F4C81;
}


/* resizing of the home section text & images   */
@media only screen and (max-width: 1355px) {

    .home-text {
        height: 500px;
    }

    .home-img img {
        height: 500px;


    }

}

/* resizing of the home section text & images */
/* resizing of the projects iframes & clip */

@media only screen and (max-width: 1230px) {



    .project-text {
        height: 250px;
    }


    iframe, video, .video-text div {
        height: 400px;
        width: 385px;
    }




}


/* resizing of the home section text & images */
/* changing de direction of the projects to column */
@media only screen and (max-width: 1050px) {
    .projects-row {
        flex-direction: column;
        text-align: center;
    }

    .projects-content p {
        text-align: left;

    }

    .project-text {
        height: 100%;
        padding: 10px;
    }


    .div-video {
        flex-direction: column;
        text-align: center;
    }

    .video-text {
        display: flex;
        justify-content: center;
    }

    iframe, video, .video-text div {
        height: 500px;
        width: 500px;

    }


}


/* resizing home text */
/* making the size of the text in home text smaller  */

@media only screen and (max-width:978px) {

    .home-text {
        height: 300px;
    }

    .home-text h1, .home-text p {
        font-size: 11px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .downloadbutton {
        width: 100%;
    }


    .home-img img {
        height: 300px;


    }


}


/* chanding the direction of the section to column */
/* changing the font size of the home text, to 100% */
/* changing height & width of home images en home text to 100% */

@media only screen and (max-width:800px) {
    #home {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .links {
        flex-direction: row;
    }

    .home-text h1, .home-text p {
        font-size: 100%;
    }

    .home-img {
        width: 100%;
    }

    .home-text, .home-img img {
        width: 100%;
        height: 100%;
    }


}

/* resiging the iframes & the video  */
/* changing the direction on the reviews photo & the footer to column */
@media only screen and (max-width: 700px) {

    iframe, video,.video-text div {
        height: 510px;
        width: 365px;

    }
.video-contenair{
    margin: 20px 0 0 0;
}
    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer a {
        margin-top: 10px;

    }

}

/* for telephon */
@media only screen and (max-width: 500px) {


    .nav-bar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #F9F9F9;
    }

    .nav-bar ul {
        display: flex;

    }

    .nav-bar li {
        height: 60px;
    }


    .content {
        margin: 0;

    }

    #home {
        padding-top: 45px;
    }

    #about-me, #projects, #contact {
        padding-top: 35px;
    }


    iframe, video,.video-text div {
        height: 510px;
        width: 340px;

    }
}